<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="register-page">
    <h1 class="register-heading">Register</h1>
    <form class="register-form" action="/create_user" method="POST">
        <label class="register-label" for="username">Username:</label>
            <input class="register-input" type="text" id="username" name="uname"></input>
        <label class="register-label" for="password">Password:</label>
            <input class="register-input" type="password" id="password" name="pwrd"></input>
        <button class="register-button" type="submit">Register</button>
    </form>
</body>
</html>
